@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

body {
    font-family: 'Actor', sans-serif;
    color: #333;
}
a {
    color: inherit;
    text-decoration: inherit;
    font-size: large;
}

.navBar {
    display: flex;
    background-color: rgba(233, 222, 242, 0.6);
    justify-content: space-between;
    padding: 1rem 2rem;
}

.dropdownContainer {
    position: relative; 
}
  
.menuIcon {
    cursor: pointer;
    
}

.dropdown {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1rem;
    z-index: 1;
    width: 100px; 
}

.dropdown.open {
    display: block;
}

.dropdown a {
    display: block; 
    padding: 10px;
    text-align: left;
    width: 100%;
    text-decoration: none;
    color: black;
}

.dropContent {
    display: block; 
}

.dropdown.open .dropContent {
    display: block;
}